body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
}
.header {
  display: flex;
  height: 100vh;
  background-color: #f2f2f2;
}
.logo {
  width: 183px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}
.header__title {
  display: flex;
  align-items: center;
  width: 760px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}
a {
  text-decoration: none;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
}
.description {
  margin-top: 100px;
}
.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  height: 50vh;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.digits {
  margin: 100px auto;
}
.section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 10px auto 0;
  line-height: 34px;
  font-size: 24px;
}
.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}
.feynman {
  position: relative;
  width: 100%;
  height: 790px;
  background-color: #f2f2f2;
}
.feynman__title {
  position: relative;
  width: 648px;
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}
.feynman__subtitle {
  position: relative;
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
}
.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 0;
}
.kaufman {
  padding: 90px 0;
  position: relative;
  background-color: #1f1f1f;
  color: #fff;
}
.section-title_theme-dark {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle_theme-dark {
  margin-top: 20px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}
.table_theme-dark {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
}
.table__cell_theme-dark {
  width: 200px;
  margin-top: 80px;
}
.table__heading_theme-dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme-dark {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}
.kaufrman__trangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
}
.footer {
  padding: 60px 0 40px;
  position: relative;
  background-color: #1f1f1f;
  color: #fff;
  min-height: 300px;
}
.footer__columns {
  position: relative;
  width: 90%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__columns_content-copyright {
  flex-basis: 771px;
  display: flex;
}
.logo_place-footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  position: absolute;
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}
.footer__columns_content-info {
  margin: 0 auto;
}
.footer__column-links {
  margin: 20px 0 16px;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
}
.footer__column-logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
